name: Deploy to EC2

on:
  push:
    branches: [main] # 메인 브랜치에 코드가 push되거나 PR이 머지되면 실행

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/allplay-app .
          docker push ${{ secrets.DOCKER_USERNAME }}/allplay-app

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            sudo docker pull ${{ secrets.DOCKER_USERNAME }}/allplay-app
            sudo docker stop allplay-server || true
            sudo docker rm allplay-server || true
            echo '${{ secrets.ENV_FILE }}' > .env
            sudo docker run -d -p 3000:3000 --env-file .env --name allplay-server ${{ secrets.DOCKER_USERNAME }}/allplay-app
            sudo docker image prune -f
